<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<!-- コンパイル設定 -->
		<compilation debug="true" targetFramework="4.8" />

		<!-- セッション設定 -->
		<sessionState mode="InProc" timeout="30" cookieless="false" />

		<!-- 認証設定 -->
		<authentication mode="Forms">
			<forms loginUrl="~/Pages/Login.aspx" timeout="30" />
		</authentication>

		<!-- ページ設定 -->
		<pages enableSessionState="true" enableViewState="true" />

		<!-- カスタムエラー -->
		<customErrors mode="Off" />
	</system.web>

	<!-- データベース接続文字列 -->
	<connectionStrings>
		<add name="UserManagementDB"
			 connectionString="Server=.\SQLEXPRESS;Database=UserManagementDB;Integrated Security=true;Trusted_Connection=true;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>